<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
<session-factory>
<!--url信息-->
<property name="connection.url">jdbc:mysql://localhost:3306/db_database11</property>
<!--数据库方言信息-->
<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
<!--用户名-->
<property name="connection.username">root</property>
<!--密码-->
<property name="connection.password">root</property>
<!--显示sql语句-->
<property name="show_sql">true</property>
<!--数据库驱动信息-->
<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
<!--指定Hibernate映射文件路径-->
<mapping resource="com/mr/employee/Employee.hbm.xml" />
<mapping resource="com/mr/user/User.hbm.xml" />
</session-factory>
</hibernate-configuration> 